* {
  box-sizing: border-box;
}

body {
  background-color: darkolivegreen;
  margin: 4rem 4rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.home-container {
  min-height: 100vh;
  min-width: 1200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  header,
  footer {
    padding: 1rem;
  }

  main {
    padding: 1rem;
    flex: 1;
  }
}

.button {
  background-color: white;
  border: 0.1rem solid darkolivegreen;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
}
